 $grid-breakpoints: (
	xs: 0,
	sm: 480px,
	md: 750px,
	lg: 970px,
	xl: 1200px,
	xxl: 1680px
);

// container width
$container-lg: 970px;
$container-xl: 1175px;
$container-xxl: 1720px;

// colors
$c-default: #3f3f3f;
$c-secondary: #c55100;
$c-primary: #10203c;
$c-danger: #c6071c;
$c-success: #3e7a4e;
$c-black: #191919;
$c-white: #fff;
$c-dark: #191919;
$c-gray: #dcdcdc;
$c-gray-900: #7f7f7f;

$c-whatsapp: #3e7a4e;


// fonts
$f-default: 'Proxima Nova';
$f-secondary: 'Conthrax', sans-serif;
