.section-about {
    margin-top: 30px;
    margin-bottom: 40px;

    @include media-breakpoint-up(lg) {
        margin-top: 50px;
        margin-bottom: 60px;
    }
    @include media-breakpoint-up(xxl) {
        margin-top: 90px;
        margin-bottom: 90px;
    }

    .about-media-container {
        margin-top: 30px;
        @include media-breakpoint-up(xl) {
            margin-top: 0;
        }
    }

    .section-header {
        margin-bottom: 20px;
        @include media-breakpoint-up(xl) {
            margin-bottom: 20px;
        }
    }
}

.about-media-figure {
    width: 290px;
    height: 205px;
    margin-top: 0;
    margin-bottom: 0;
    @include media-breakpoint-up(lg) {
        width: 420px;
        height: 298px;
    }
    @include media-breakpoint-up(xl) {
        width: 748px;
        height: 529px;
    }

    .about-media {
        width: 290px;
        height: 205px;
        @include media-breakpoint-up(lg) {
            width: 420px;
            height: 298px;
        }
        @include media-breakpoint-up(xxl) {
            width: 748px;
            height: 529px;
        }
    }
}

.about-description {
    margin-bottom: 15px;
    line-height: 1.5;
    @include media-breakpoint-up(xl) {
        margin-top: 25px;
    }
}

.about-results-block {
    border: 1px solid currentColor;
    padding: 20px 25px 15px;

    .about-result-headline {
        margin: 0 0 12px;
        font-weight: 700;
        line-height: 1.4;
    }
}
