.cart-fast-order-block {
    max-width: 290px;
    @include media-breakpoint-up(sm) {
        max-width: none;
    }
    @include media-breakpoint-up(xl) {
        font-size: 15px;
    }

    .cart-fast-order-link {
        display: inline-block;
        @include media-breakpoint-up(xxl) {
            font-size: 20px;
        }
    }
}