.checkout-nav-list {
    margin-top: -15px;
    margin-bottom: -15px;
    @include media-breakpoint-up(lg) {
        position: sticky;
        top: 150px;
    }
    @include media-breakpoint-up(xxl) {
        top: 180px;
    }
}

.checkout-nav-delimiter {
    margin: 35px 0;
    width: 10px;
    height: 1px;
    background-color: #c5c5c5;
    flex-shrink: 0;

    @include media-breakpoint-up(sm) {
        width: 17px;
    }
}

.checkout-nav-link {
    width: 100%;
    max-width: 100px;
    cursor: pointer;
    margin: 15px 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background: none;
    color: $c-default;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    @include media-breakpoint-up(lg) {
        max-width: initial;
    }

    @include media-breakpoint-up(xxl) {
        font-size: 24px;
    }

    .checkout-nav-count {
        position: relative;
        flex: 0 0 40px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 0px;
        margin-bottom: 5px;
        background-color: $c-default;
        color: $c-white;
        text-align: center;

        @include media-breakpoint-up(lg) {
            margin-right: 10px;
        }

        @include media-breakpoint-up(xxl) {
            font-size: 20px;
        }
    }

    &:not(:first-child) {
        .checkout-nav-count {

            &::before {
                position: absolute;
                top: 0;
                left: 50%;
                width: 1px;
                height: 17px;
                transform: translate(-50%, -150%);
                background-color: #c5c5c5;
                content: '';

                @include media-breakpoint-down(lg) {
                    display: none;
                }
            }
        }
    }

    &.valid {
        color: $c-default !important;
        .checkout-nav-count {
            background: $c-default !important;
        }
    }

    &.invalid {
        color: $c-black !important;

        .checkout-nav-count {
            background: $c-black !important;
        }
    }

    &.collapsed {
        color: #c5c5c5;

        .checkout-nav-count {
            background-color: #c5c5c5;
        }

        &.valid {
            opacity: 0.9;
        }

        &.invalid {
            opacity: 0.6;
        }
    }

    &.complete {
        opacity: 1 !important;
        color: #c55100 !important;
        text-decoration: none !important;

        .checkout-nav-count {
            background: #c55100 !important;
        }
    }
}
