.card-review {
    padding: 20px 15px 10px;
    background-color: #dcdcdc;
    font-size: 14px;
    line-height: 20px;
    @include media-breakpoint-up(sm) {
        padding: 20px 15px 15px;
    }
    @include media-breakpoint-up(lg) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @include media-breakpoint-up(xl) {
        padding: 25px 30px 20px;
        font-size: 15px;
        line-height: 25px;
    }
    @include media-breakpoint-up(xxl) {
        padding: 35px 40px 45px;
    }
}

.card-review-header {
    margin-bottom: 15px;
}

.card-review-name {
    display: inline-block;
    margin: 0 25px 5px 0;
    font-weight: 700;
}

.card-review-date {
    display: inline-block;
    margin: 0 0 5px;
    color: #616161;
}


.card-review-gallery-block {
    margin-bottom: 20px;
}

.card-review-gallery-link {
    width: 76px;
    height: 76px;
    border: 2px solid $c-black;
    transition: border-color 300ms ease;
    background-color: #fff;
    &:hover {
        border-color: lighten($c-black, 10%);
    }

    .card-review-gallery-media {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        object-position: center;
    }
}