.offcanvas {
    opacity: 0;
    visibility: hidden;
    transform: translate(-100%);
    overflow-y: auto;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 340px;
    height: 100%;
    padding: 0 15px 60px;
    background-color: $c-black;
    color: $c-white;
    font-size: 14px;
    @include media-breakpoint-up(xl) {
        padding: 15px 20px 60px;
    }
    
    &.transition {
        transition: opacity 300ms ease, visibility 300ms ease, transform 300ms ease;
    }

    &.open {
        opacity: 1;
        visibility: visible;
        transform: translate(0);
    }
}

.offcanvas-header {
    padding: 18px 0;
}


/* offcanvas close */
.offcanvas-close {
    opacity: 1;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background: none;
    color: currentColor;

    &:hover {
        color: $c-secondary;
    }
}


/* offcanvas location */
.offcanvas-location-toggle {
    @extend .header-location-toggle;
    max-width: 150px;
    color: currentColor !important;
    font-size: 15px;
    font-weight: 600;

    .offcanvas-location-thumbnail {
        flex: 0 0 27px;
        width: 27px;
        margin-right: 15px;
    }
}


/* offcanvas account */
.offcanvas-account-list {
    margin-top: 0;
    margin-bottom: 0;
}

.offcanvas-account-link {
    width: 40px;
    border: none;

    .offcanvas-account-thumbnail {
        flex: 0 0 28px;
        width: 28px;
        color: $c-secondary;
    }

    .offcanvas-account-badge {
        @extend .header-account-badge;
    }
}


/* offcanvas search */
.offcanvas-search-block {
    margin: 0 -15px 20px;
    padding: 10px 15px;
    background-color: #dcdcdc;
    color: $c-default;
}


/* offcanvas contact */
.offcanvas-contact-block {
    margin-bottom: 10px;
}

.offcanvas-contact-list {
    margin: 0;

    a {
        display: block;
        padding: 2px 0;
        border: none;
        text-decoration: underline;

        &[href^="tel:"] {
            font-size: 17px;
            font-weight: 700;
            text-decoration: none;
        }

        &:hover {
            color: $c-secondary;
            text-decoration: none;
        }
    }
}


/* offcanvas social */
.offcanvas-social-link {
    @extend .header-social;
    border: none;

    .offcanvas-social-thumbnail {
        @extend .header-social-thumbnail;
    }

    .offcanvas-social-text {
        @extend .header-social-text;
    }
}


/* offcanvas catalog */
.offcanvas-catalog-list {
    margin: 0 0 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 3px solid currentColor;
    border-bottom: 3px solid currentColor;

    .offcanvas-catalog-item {
        &.active {
            color: $c-secondary;
        }
    }
}

.offcanvas-catalog-link {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    border: none;
    padding: 12px 0;
    font-family: $f-secondary;
    font-weight: 600;

    &:hover {
        color: $c-secondary;
    }

    .offcanvas-catalog-thumbnail {
        flex: 0 0 25px;
        width: 25px;
        margin-right: 15px;
    }
}

.offcanvas-catalog-megamenu-toggle {
    cursor: pointer;
    position: relative;
    flex: 0 0 42px;
    width: 42px;
    height: 42px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background: none;
    transition: border-color 300ms ease;
    color: currentColor;

    &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 15px;
        border-left: 1px solid currentColor;
        margin: auto;
        content: '';
    }

    &:hover {
        color: $c-secondary;
    }

    &.active {
        .offcanvas-catalog-megamenu-toggle-media {
            transform: rotate(90deg);
        }
    }
}


/* offcanvas nav */
.offcanvas-nav-list {
    margin: 0;
    @include media-breakpoint-up(md) {
        font-size: 15px;
        font-weight: 700;
    }
    @include media-breakpoint-up(lg) {
        font-size: 17px;
    }

    .offcanvas-nav-item {
        &.active {
            color: $c-secondary;
        }
    }
}

.offcanvas-nav-link {
    display: block;
    border: none;
    padding: 5px 0;
    @include media-breakpoint-up(lg) {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    &:hover {
        color: $c-secondary;
    }
}