.swiper-button-prev,
.swiper-button-next {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: $c-black;
    color: #fff;
    line-height: 1;

    .swiper-button-media {
        fill: currentColor;
    }
}