.tooltip-toggle {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin: 0 0 0 10px;
    padding: 0;
    border: none;
    border-radius: 0;
    background: #a8a8a8;
    color: $c-white;
    font-size: 14px;
    line-height: 20px;
}

.tooltip {
    z-index: 9;
}