.section-catalog {
    position: relative;
    background: $c-gray;
    @include media-breakpoint-up(lg) {
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
    }

    .catalog-aside-container {
        position: -webkit-sticky;
        position: sticky;
        z-index: 9;
        top: 60px;
        @include media-breakpoint-up(md) {
            top: 125px;
        }
        @include media-breakpoint-up(lg) {
            position: relative;
            top: 0;
            padding-top: 20px;
            padding-bottom: 40px;
            background-color: $c-black;
        }
        @include media-breakpoint-up(xxl) {
            padding-top: 20px;
            padding-bottom: 85px;
        }

        &::before {
            @include media-breakpoint-up(xl) {
                position: absolute;
                z-index: -1;
                top: 0;
                right: 0;
                width: 100vw;
                height: 100%;
                background-color: inherit;
                content: '';
            }
        }
    }

    .catalog-content-container {
        position: relative;
        z-index: 1;
        padding-top: 20px;
        padding-bottom: 40px;
        @include media-breakpoint-up(lg) {
            padding-top: 20px;
            padding-bottom: 40px;
        }
        @include media-breakpoint-up(lg) {
            padding-left: 20px;
            padding-right: 20px;
        }
        @include media-breakpoint-up(xxl) {
            padding-top: 20px;
            padding-bottom: 85px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

body.filter-open {
    .catalog-aside-container {
        z-index: 101;
    }
}

@import 'catalog-subcategories';
@import 'catalog-tags';
@import 'catalog-sort';
@import 'catalog-view';
@import 'catalog-selected-options';
@import 'catalog-products';
@import 'catalog-about';