.footer-nav-list {
    margin-top: 0;
    margin-bottom: 0;

    .footer-nav-item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        .active {
            color: $c-secondary;
        }
    }
}