.footer-catalog-list {
    margin-top: 0;
    margin-bottom: 0;

    .footer-catalog-item {
        &.active {
            color: $c-secondary;
        }
    }
}

.footer-catalog-link {
    width: 100%;
    padding: 30px 0;
    color: currentColor;
    text-decoration: none;
    font-family: $f-secondary;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    @include media-breakpoint-only(xl) {
        padding-left: 18px;
        padding-right: 18px;
    }
    @include media-breakpoint-up(xl) {
        font-size: 14px;
    }
    @include media-breakpoint-up(xxl) {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 16px;
    }

    .footer-catalog-thumbnail {
        margin-right: 15px;
    }

    .footer-catalog-media {
        fill: currentColor;
    }
}