.footer-social {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;

    &-thumbnail {
        width: 25px;
        height: 25px;
    }

    &-text {
        margin-left: 15px;
    }

    &-whatsapp {
        color: $c-whatsapp;

        &:hover {
            color: lighten($c-whatsapp, 5%) !important;
        }
    }
}